@font-face {
  font-family: "segoe";
  /* menu 1 et 3 texte*/
  src: url(../police/911Fonts.com_SegoePrint__-_911fonts.com_fonts_oki4.ttf) format("truetype");
}
@font-face {
  font-family: "devon";
  /* menu 1 titre*/
  src: url(../police/devonshire/Devonshire-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "croissant";
  /* menu 2 titre*/
  src: url(../police/croissantone/CroissantOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "martel";
  /* menu 2 texte*/
  src: url(../police/martel/Martel-DemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "dancing";
  /* menu titre 3*/
  src: url(../police/DancingScript/DancingScript.ttf) format("truetype");
}
@font-face {
  font-family: "typo";
  /* menu 4 texte*/
  src: url(../police/TYPO_COMICS_demo.otf) format("truetype");
}
@font-face {
  font-family: "kaushan";
  /* menu 4 titre*/
  src: url(../police/kaushanscript/KaushanScript-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "montserratb";
  /* titre*/
  src: url(../police/montserrat/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "montserrat";
  /* footer+prochainement*/
  src: url(../police/montserrat/Montserrat-Regular.ttf) format("truetype");
}
h2 {
  text-align: center;
}

footer p, footer a {
  color: #fdcb46;
  text-decoration: none;
  font-family: "montserrat";
}

header h1, header a {
  color: #fdcb46;
  text-align: center;
  margin: 0px;
  text-decoration: none;
  font-family: "montserratb";
}

.next p {
  margin-bottom: 0px;
  margin-top: 4px;
  color: #fdcb46;
  font-family: "montserrat";
  font-size: 22px;
}

.menu .mainmenu, .carte .mainmenu {
  margin: 0px;
}
.menu .nom, .carte .nom {
  margin: 0;
}
.menu--1 .mainmenu, .carte--1 .mainmenu {
  color: black;
  font-weight: bold;
  font-family: "segoe";
}
.menu--1 .fas, .carte--1 .fas {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #f15a61 80%, #f6916a 30%);
  size: 160px;
}
.menu--1 .nom, .carte--1 .nom {
  color: black;
  font-family: "devon";
  font-size: 34px;
  font-weight: lighter;
}
.menu--1 .underline, .carte--1 .underline {
  font-family: "segoe";
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.menu--1 .underline:before, .menu--1 .underline:after, .carte--1 .underline:before, .carte--1 .underline:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0px;
  height: 2px;
  margin: auto;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background-color: black;
  left: 0;
}
.menu--1 .underline:hover:before, .menu--1 .underline:hover:after, .carte--1 .underline:hover:before, .carte--1 .underline:hover:after {
  width: 100%;
  opacity: 1;
}
.menu--1 .menu-description, .menu--1 .menu-prix, .carte--1 .menu-description, .carte--1 .menu-prix {
  font-family: "segoe";
  font-weight: lighter;
  font-size: 14px;
}
.menu--2 .mainmenu, .carte--2 .mainmenu {
  color: #c77412;
  font-weight: bolder;
  font-family: "martel";
}
.menu--2 .nom, .carte--2 .nom {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #d8852e 30%, #905bfd 66%);
  font-family: "croissant";
}
.menu--2 .entree, .carte--2 .entree {
  color: #c67412;
}
.menu--2 .entree .underline, .carte--2 .entree .underline {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.menu--2 .entree .underline:before, .menu--2 .entree .underline:after, .carte--2 .entree .underline:before, .carte--2 .entree .underline:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0px;
  height: 2px;
  margin: auto;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background-color: #af6610;
  left: 0;
}
.menu--2 .entree .underline:hover:before, .menu--2 .entree .underline:hover:after, .carte--2 .entree .underline:hover:before, .carte--2 .entree .underline:hover:after {
  width: 100%;
  opacity: 1;
}
.menu--2 .principal, .carte--2 .principal {
  color: #a56799;
}
.menu--2 .principal .underline, .carte--2 .principal .underline {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.menu--2 .principal .underline:before, .menu--2 .principal .underline:after, .carte--2 .principal .underline:before, .carte--2 .principal .underline:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0px;
  height: 2px;
  margin: auto;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background-color: #985a8c;
  left: 0;
}
.menu--2 .principal .underline:hover:before, .menu--2 .principal .underline:hover:after, .carte--2 .principal .underline:hover:before, .carte--2 .principal .underline:hover:after {
  width: 100%;
  opacity: 1;
}
.menu--2 .dessert, .carte--2 .dessert {
  color: #6e4ccc;
}
.menu--2 .dessert .underline, .carte--2 .dessert .underline {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.menu--2 .dessert .underline:before, .menu--2 .dessert .underline:after, .carte--2 .dessert .underline:before, .carte--2 .dessert .underline:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0px;
  height: 2px;
  margin: auto;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background-color: #5e38c6;
  left: 0;
}
.menu--2 .dessert .underline:hover:before, .menu--2 .dessert .underline:hover:after, .carte--2 .dessert .underline:hover:before, .carte--2 .dessert .underline:hover:after {
  width: 100%;
  opacity: 1;
}
.menu--2 .menu-description, .menu--2 .menu-prix, .carte--2 .menu-description, .carte--2 .menu-prix {
  font-family: "martel";
  font-size: 14px;
}
.menu--2 .underline, .carte--2 .underline {
  font-weight: bold;
  font-family: "martel";
}
.menu--3 .mainmenu, .carte--3 .mainmenu {
  color: #0887fb;
  font-weight: bold;
  font-family: "segoe";
}
.menu--3 .nom, .carte--3 .nom {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #0230df 30%, #1a91fb 66%);
  font-family: "dancing";
  font-size: 34px;
  margin: 0px;
}
.menu--3 .underline, .carte--3 .underline {
  font-family: "segoe";
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.menu--3 .underline:before, .menu--3 .underline:after, .carte--3 .underline:before, .carte--3 .underline:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0px;
  height: 2px;
  margin: auto;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background-color: black;
  left: 0;
}
.menu--3 .underline:hover:before, .menu--3 .underline:hover:after, .carte--3 .underline:hover:before, .carte--3 .underline:hover:after {
  width: 100%;
  opacity: 1;
}
.menu--3 .menu-description, .menu--3 .menu-prix, .carte--3 .menu-description, .carte--3 .menu-prix {
  font-family: "segoe";
  font-weight: bold;
  font-size: 14px;
}
.menu--4 .mainmenu, .carte--4 .mainmenu {
  color: #72bf56;
  font-weight: bold;
  font-family: "typo";
}
.menu--4 .nom, .carte--4 .nom {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #3e923a 30%, #beff7f 66%);
  font-family: "typo";
  font-size: 34px;
  font-weight: lighter;
  margin: 0;
}
.menu--4 .underline, .carte--4 .underline {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.menu--4 .underline:before, .menu--4 .underline:after, .carte--4 .underline:before, .carte--4 .underline:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0px;
  height: 2px;
  margin: auto;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background-color: black;
  left: 0;
}
.menu--4 .underline:hover:before, .menu--4 .underline:hover:after, .carte--4 .underline:hover:before, .carte--4 .underline:hover:after {
  width: 100%;
  opacity: 1;
}
.menu--4 .menu-description, .menu--4 .menu-prix, .menu--4 .underline, .carte--4 .menu-description, .carte--4 .menu-prix, .carte--4 .underline {
  font-family: "typo";
  font-weight: normal;
}

.note {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #f05160 20%, #f6916a 80%);
  width: auto;
  text-align: center;
  font-size: 50px;
}

.next .fas {
  color: #fdcb46;
}

.wiggle:hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
}

@keyframes headshake {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-2%);
  }
}
.next {
  align-self: center;
  background-color: #579c87;
  width: 260px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  border: 0px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.next .load {
  width: 60px;
  height: 18px;
  display: flex;
  justify-content: space-evenly;
}
.next .load__dot {
  color: #fdcb46;
  height: 100%;
  width: 6px;
  animation: dots 500ms backwards infinite ease-in-out alternate;
}
.next .load__dot--1 {
  animation-delay: 166.6666666667ms;
}
.next .load__dot--2 {
  animation-delay: 333.3333333333ms;
}
.next .load__dot--3 {
  animation-delay: 500ms;
}

@keyframes dots {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
header {
  background-color: #579c87;
  width: 100%;
  height: 50px;
}

.container {
  background-color: white;
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 10px;
  padding-bottom: 90px;
}

footer {
  background-color: #579c87;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .mentions {
  text-align: left;
  padding-left: 20px;
}
footer .contact {
  text-align: right;
  padding-right: 20px;
}

.menues {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.menu {
  /* display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-around;*/
  width: 30%;
  height: 400px;
  text-align: center;
  margin: 25px;
  box-shadow: 0px 5px 5px #ededed, 0px -5px 5px #ededed, 5px 0px 5px #ededed, -5px 0px 5px #ededed;
}
.menu .menu-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu .menu-text:hover {
  opacity: 0.45;
  transform: scale(1.3);
  transition: 1000ms ease-in-out;
  overflow: hidden;
}
.menu--1 {
  background-color: #fcdfdb;
}
.menu--2 {
  background-color: #fff5fe;
}
.menu--3 {
  background-color: #f9f9f9;
}
.menu--4 {
  background-color: #fdfffd;
}
.menu a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carte {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 680px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  box-shadow: 0px 5px 5px #ededed, 0px -5px 5px #ededed, 5px 0px 5px #ededed, -5px 0px 5px #ededed;
}
.carte section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.carte section h3 {
  width: 80%;
  margin: auto;
}
.carte section .menu-prix {
  text-align: right;
  width: 13%;
  margin-right: 50px;
}
.carte section .menu-description {
  min-width: 50%;
  text-align: left;
  margin-left: 50px;
}
.carte--1 {
  background-color: #fcdfdb;
}
.carte--2 {
  background-color: #fff5fe;
}
.carte--2 h2 {
  color: #c77412;
}
.carte--3 {
  background-color: #f9f9f9;
}
.carte--3 h2 {
  color: #0887fb;
}
.carte--4 {
  background-color: #fdfffd;
}
.carte--4 h2 {
  color: #72bf56;
}

body {
  background-color: rgba(184, 8, 8, 0.8);
  margin-top: 0px;
  /*max-width: 1000px;*/
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
