footer{
    background-color: #4ca37a;
    width: 100%;
    position: fixed;
    bottom: 0;
    
    p,a {
        color:#d0ee28f1;
        text-decoration: none;
    }
    div {
        width: 25%;
        display: inline-block;
        flex-direction: row;
        justify-content: space-between;
    }
}