header{

    background-color: #4ca37a;
    width: 100%;
    height: 50px;
    
    

    h1, a{
        color: #d0ee28f1;
        text-align: center;
        margin: 0px;
        text-decoration: none;
    }
}