.menues{
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    @include media-menu; 
}

.menu{        
    width: $width-menu;
    height: 550px;
    text-align: center;
    margin: 35px; 
    box-shadow: 0px 5px 5px $color-shadow,0px -5px 5px $color-shadow,5px 0px 5px $color-shadow,-5px 0px 5px $color-shadow;    
    
    .menu-text{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:hover{
        opacity: 0.45; 
        transform: scale(1.2);
        transition:  500ms ease-in-out;
        overflow: hidden;
        }
    }
    
    &--1{
        background-color: $color-back-menu1;    
    }

    &--2{
        background-color: $color-back-menu2;
    }

    &--3{
        background-color: $color-back-menu3;
    }
    
    &--4{
        background-color: $color-back-menu4;
    }    
    
    a{
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;  
        justify-content: center;               
    }
}
