.carte{        
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    width: 620px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 0px 5px 5px #ededed,0px -5px 5px #ededed,5px 0px 5px #ededed,-5px 0px 5px #ededed;

    section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        h3{
            width: 80%;
            margin: auto;
        }
        .menu-prix{
            text-align: right;
            width: 13%;
            margin-right: 50px;
        }
        .menu-description{
            min-width: 51%;
            text-align: left;
            margin-left: 50px;
        }
    }   
    &--1{
        background-color: #fcdfdb;
    }        
    &--2{
        background-color: #fff5fe;
        h2{
            color: #c77412;
        }
    }
    &--3{
        background-color: #f9f9f9;
        h2{
            color: #0887fb;
        }
    }
    &--4{
        background-color: #fdfffd;
        h2{
            color: #72bf56;
        }
    }
}