.next{
    align-self: center;
    background-color:$color-primary;
    width: 280px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    border: 0px ;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover{
        p{
           opacity: 0;
           transition-duration: 500ms;
        }        
        .load{
            visibility: visible;
            opacity: 1;
           transition-duration: 800ms;
           transition-delay: 300ms;
        }
    }

    .load{
        width: $size-dot*10;
        height: $size-dot*3;
        display: flex;
        position: relative;
        top: -20px;
        visibility: hidden;
        justify-content: space-evenly;
        opacity: 0;              
        &__dot{            
            color: $color-secondary;
            height: 100%;
            width: $size-dot;
            animation: dots $anim-dur backwards infinite ease-in-out alternate;
            @for $i from 1 through $num-dot {
                &--#{$i}{
                    animation-delay: $anim-delay*$i;
                }
            }            
        }
    }
} 

@keyframes dots{
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1.0);
    }
}
