@font-face{
    font-family: 'segoe';/* menu 1 et 3 texte*/
    src: url(../police/911Fonts.com_SegoePrint__-_911fonts.com_fonts_oki4.ttf) format('truetype');
}
@font-face{
    font-family: 'devon';/* menu 1 titre*/
    src: url(../police/devonshire/Devonshire-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'croissant';/* menu 2 titre*/
    src: url(../police/croissantone/CroissantOne-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'martel';/* menu 2 texte*/
    src: url(../police/martel/Martel-DemiBold.ttf) format('truetype');
}
@font-face{
    font-family: 'martelB';/* menu 2 menu*/
    src: url(../police/martel/Martel-ExtraBold.ttf) format('truetype');
}
@font-face{
    font-family: 'dancing';/* menu titre 3*/
    src: url(../police/DancingScript/DancingScript.ttf) format('truetype');
}
@font-face{
    font-family: 'typo';/* menu 4 texte*/
    src: url(../police/TYPO_COMICS_demo.otf) format('truetype');    
}
@font-face{
    font-family: 'typol';/* menu 4 menu*/
    src: url(../police/TYPO_COMICS_Light_demo.otf) format('truetype');
}
@font-face{
    font-family: 'kaushan';/* menu 4 titre*/
    src: url(../police/kaushanscript/KaushanScript-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'montserratb';/* titre*/
    src: url(../police/montserrat/Montserrat-Bold.ttf) format('truetype');
}
@font-face{
    font-family: 'montserrat';/* footer+prochainement*/
    src: url(../police/montserrat/Montserrat-Regular.ttf) format('truetype');
}


h2{
    text-align: center;
    font-size: 40px;
}

footer{
    p,a {
        color:$color-secondary;
        text-decoration: none;
        font-family: 'montserrat';
    }
}

header{
    h1, a{
        color: $color-secondary;
        text-align: center;
        margin: 0px;
        text-decoration: none;
        font-family: 'montserratb';
    }
}

.next{
    p{
        margin-bottom: 0px;
        margin-top: 4px;
        color: $color-secondary;
        font-family: 'montserrat';
        font-size: 22px;
    }
}
.menu,.carte {
    .mainmenu{
        margin: 0px;
        margin-top: 10px;
        font-size: 24px;
    }
    .nom{
        margin: 0;
    }
    &--1{
        font-family: 'segoe';
        .mainmenu{
            color: black;
            font-weight: bold;
            
        }
        .nom{
            color: black;
            font-family: 'devon';
            font-weight: lighter;
            @include size-nom           
        }
        .underline{                    
            @include underlines($color: black);            
            &:hover {
                &:before,
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
        .menu-description, .menu-prix{            
            font-weight: lighter;
        } 
    }
    &--2{
        .mainmenu{
            color: $color-back-title2;                    
            font-weight: bolder;
            font-family: 'martelB';
        }
        .nom{
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: -webkit-linear-gradient((left, #d8852e 30%, #905bfd 66%));
            font-family: 'croissant';
            font-size: 30px;
            @media all and (max-width:520px){
                font-size: 22px; 
            }
        }
        .entree{
            color: $color-back-title2;
            .underline{        
                @include underlines($color: $color-back-title2);            
                &:hover {
                    &:before,
                    &:after {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }             
        }
        .principal{
            color: $color-menu2-principal;
            .underline{        
                @include underlines($color:$color-menu2-principal);            
                &:hover {
                    &:before,
                    &:after {
                        width: 100%;
                        opacity: 1;
                    }
                }
            } 
        }
        .dessert{
            color: $color-menu2-dessert;
            .underline{  
                font-weight: bold;
                font-family: 'martel';      
                @include underlines($color: $color-menu2-dessert);            
                &:hover {
                    &:before,
                    &:after {
                        width: 100%;
                        opacity: 1;
                    }
                }
            } 
        }
        .menu-description, .menu-prix{
            font-family: 'martel';
        }        
    }
    &--3{
        font-family: 'segoe';
        .mainmenu{
            color: $color-back-title3;
        }
        .nom{
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: -webkit-linear-gradient(left, #0230df 30%, #1a91fb 66%);
            font-family: 'dancing';            
            margin: 0px;
            @include size-nom 
        }
        .underline{ 
            font-weight: bold;       
            @include underlines($color: black);            
            &:hover {
                &:before,
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
        .menu-description, .menu-prix{
            font-weight: bold;
        }  
    }
    &--4{
        font-family: 'typo';
        font-weight: normal;        
        .mainmenu{
            color: $color-back-title4;
            font-family: 'typol';
            font-weight: lighter;
        }
        .nom{
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: -webkit-linear-gradient(left, #3e923a 30%, #beff7f 66%);
            font-weight: lighter;
            margin: 0;
            @include size-nom 
        }
        .underline{      
            @include underlines($color: black);            
            &:hover {
                &:before,
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }
        } 
    }       
}
.note{
    color: $color-note;
    width: auto;
    text-align: center;
    font-size: 50px;
    flex-direction: column;
}

