$color-primary: #579c87;
$color-secondary:#fdcb46;

$color-back-menu1: #fcdfdb;
$color-back-menu2:#fff5fe;
$color-back-menu3:#edefef;
$color-back-menu4:#fdfffd;

$color-back-title2:#c77412;
$color-back-title3:#0887fb;
$color-back-title4:#72bf56;


$color-menu2-principal:#a56799;
$color-menu2-dessert:#6e4ccc;

$color-note:#f05160;

$color-shadow:#ededed;

$width-menu:35%;

$size-dot:6px;
$anim-dur:500ms;
$num-dot:3;
$anim-delay:$anim-dur/$num-dot;